* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

ul {
  height: 80px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4vw;
  font-size: 20px;
}

li {
  transition: all 200ms linear;
}

li:hover {
  color: #ffff;
  transition: all 200ms linear;
}

.menu {
  color: #9932cc;
  background-color: #1b1a22;
  position: fixed;
  top: 0;
  width: 100%;
}

#section01 {
  background-color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
  flex-wrap: wrap;
  height: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 80px;
  padding-top: 150px;
}

#section02 {
  background-color: green;
  height: 70vh;
}

#section03 {
  background-color: yellow;
  height: 70vh;
}

#section04 {
  background-color: blue;
  height: 70vh;
}

.section01-left-div {
  width: 500px;
  height: 500px;
  background-color: red;
}

.section01-right-div {
  width: 800px;
  height: 500px;
  background-color: blue;
}

a {
  text-decoration: none;
  color: inherit;
}
